.table {
  border-collapse: collapse;
  border-spacing: 0;
}

.table td {
  border: 1px solid black;
}

.row__brand {
  background-color: rgb(84, 58, 232);
  color: aliceblue;
  text-align: center;
}

.cell__model {
  padding: 15px;
  background-color: rgb(201, 60, 84);
  color: aliceblue;
  text-align: center;
}
